<header class="bg-dark-grey">
  <div class="header-container charts">
    <div class="icon-container">
      <a routerLink="#"><fa-icon [icon]="chart"></fa-icon></a>
    </div>
  </div>
  <div class="header-container">
    <a routerLink="/menu"><h1>New Horizon</h1></a>
  </div>
  <div class="header-container btn-container">
    <div class="btn-small">
      <a routerLink="/menu/login">Login</a>
    </div>
    <div class="btn-small colored">
      <a routerLink="/menu/signup">Sign Up</a>
    </div>
  </div>
</header>
