<header class="bg-dark-grey">
  <div class="header-container charts">
    <div class="icon-container">
      <a routerLink="/menu/stats"><fa-icon [icon]="chart"></fa-icon></a>
    </div>
  </div>
  <div class="header-container">
    <a routerLink="/menu"><h1>New Horizon</h1></a>
  </div>
  <div class="header-container btn-container">
    <div class="btn-small" *ngIf="!isLoggedIn">
      <a routerLink="/menu/login">Login</a>
    </div>
    <div class="btn-small colored" *ngIf="!isLoggedIn">
      <a routerLink="/menu/signup">Sign Up</a>
    </div>
    <div
      class="btn-small colored"
      style="cursor: pointer"
      *ngIf="isLoggedIn"
      (click)="onClick()"
    >
      <a>Logout</a>
    </div>
  </div>
</header>
