.col-med {
    flex-basis: 40%;
    height: 100%;
    padding: 5em 0;
    color: grey
}

.col-med + .col-med {
    border-left: 2px solid var(--dark-grey)
}

.col-small {
    flex-basis: 20%;
    height: 100%;
    background: rgb(175,20,255);
    background: linear-gradient(180deg, rgba(175,20,255,1) 0%, rgba(20,177,255,1) 100%);
}

.container {
    flex-basis: 70%;
    width: 100%;
    padding: 15px;
}

.cont-title {
    flex-basis: 10%;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.option-container {
    flex-basis: 33%;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.option-container:hover {
    background: var(--off-white)
}

.option-btn {
    width: 25px;
    height: 25px;
    border-radius: 300px;
    border: 2px solid var(--dark-grey);
    margin-right: 30px;
}

.option-btn.active {
    background: var(--light-blue);
}

.btn-container {
    flex-basis: 20%;
}

.btn {
    padding: 15px;
    border: 2px solid var(--dark-grey);
    margin: 0 30px;
    border-radius: 15px;
    cursor: pointer;
}

.btn.delete:hover {
    background: #D51515;
    color: white;
}

.btn.save:hover {
    background: var(--light-green);
    color: white;
}

.inner-div {
    margin: 15px 0;
    width: 100%;
}

.container-text {
    text-align: center;
}

.container-input {
    position: relative;
}

.donation-input {
    font-size: 1rem;
    padding: 5px;
    padding-left: 20px;
    outline: none;
    width: 50%;
    border: 2px solid var(--dark-grey);
    border-radius: 5px;
}

.option-text {
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.input-sign {
    position: absolute;
    font-size: 1.25rem;
    text-align: center;
    top: 0;
    width: 50%;
    left: 10px;
    pointer-events: none;
    padding-top: 2.5px;
}

.btn-full {
    width: 100%;
    text-align: center;
}

.btn-full:hover {
    background: var(--light-green);
    color: white;
}