<div class="full-page fl-center">
  <div class="col-med fl-left fl-column">
    <h1 class="cont-title">Account Settings</h1>
    <div class="container fl-center fl-column">
      <div (click)="changeStatus(0)" class="option-container fl-left">
        <div class="option-btn" [ngClass]="{ active: stats }"></div>
        <h3 class="option-text">Share my statistics</h3>
      </div>
      <div (click)="changeStatus(1)" class="option-container fl-left">
        <div class="option-btn" [ngClass]="{ active: identity }"></div>
        <h3 class="option-text">Share identifiable information</h3>
      </div>
      <div (click)="changeStatus(2)" class="option-container fl-left">
        <div class="option-btn" [ngClass]="{ active: notifications }"></div>
        <h3 class="option-text">Notifications</h3>
      </div>
    </div>
    <div class="btn-container fl-center">
      <div class="btn delete" (click)="deleteAccount()">Delete Account</div>
      <div class="btn save" (click)="saveChanges()">Save Changes</div>
    </div>
  </div>
  <div class="col-med fl-left fl-column">
    <h1 class="cont-title">Membership</h1>

    <div class="container fl-center fl-column">
      <div class="inner-div container-text">
        <h2>Choose what you pay</h2>
      </div>
      <div
        [formGroup]="donationForm"
        class="inner-div fl-center container-input"
      >
        <input
          formControlName="donation"
          type="number"
          class="donation-input"
        />
        <span class="input-sign">$</span>
      </div>
      <div class="inner-div container-text">
        <h2>Teirs</h2>
      </div>
      <div
        (click)="changeMembership(0)"
        class="inner-div option-container fl-left"
      >
        <div class="option-btn" [ngClass]="{ active: membership == 0 }"></div>
        <h4 class="option-text">Basic</h4>
      </div>
      <div
        (click)="changeMembership(1)"
        class="inner-div option-container fl-left"
      >
        <div class="option-btn" [ngClass]="{ active: membership == 1 }"></div>
        <h4 class="option-text">Gold</h4>
      </div>
      <div
        (click)="changeMembership(2)"
        class="inner-div option-container fl-left"
      >
        <div class="option-btn" [ngClass]="{ active: membership == 2 }"></div>
        <h4 class="option-text">Platinum</h4>
      </div>
    </div>

    <div class="btn-container fl-center fl-column">
      <div (click)="donate()" class="btn btn-full">Donate</div>
    </div>
  </div>
  <div class="col-small"></div>
</div>
